.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.input {
  width: 40%;
  height: 2.5rem;
}
.main > button {
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type="number"] {
  -moz-appearance: textfield;
}
