body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-gray: #efefef;
  --border-size: 0.15rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1920px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 1750px) {
  html {
    font-size: 16.5px;
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1480px) {
  html {
    font-size: 14.5px;
  }
}
@media (max-width: 1366px) {
  html {
    font-size: 12.5px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 11.5px;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 10.2px;
  }
}
@media (max-width: 925px) {
  html {
    font-size: 9.2px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 8.2px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 9.8px;
  }
}
